<footer class="site-footer">
  <div class="container footer-inner">
    <div>
      <strong>{{ site.title }}</strong><br>
      <span>{{ site.subtitle }}</span><br>
      <span>Environment Research Institute, Shandong University</span>
    </div>
    <div>
      <a href="{{ site.social.email }}">Email</a>
      <span aria-hidden="true"> · </span>
      <a href="{{ site.social.github }}">GitHub</a><br>
      <img class="visitor-counter" src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fmujsh.github.io%2Fxyz_CHANGE&amp;count_bg=%23245A8D&amp;title_bg=%235F6F83&amp;icon=&amp;icon_color=%23E7E7E7&amp;title=visits&amp;edge_flat=false" alt="Site visit counter">
    </div>
  </div>
</footer>