<footer class="site-footer">
  <div class="container footer-inner">
    <div>
      <strong>{{ site.title }}</strong><br>
      <span>{{ site.subtitle }}</span><br>
      <span>Environment Research Institute, Shandong University</span>
    </div>
    <div>
      <a href="{{ site.social.email }}">Email</a>
      <span aria-hidden="true"> · </span>
      <a href="{{ site.social.github }}">GitHub</a><br>
      <img class="visitor-counter" src="https://visitor-badge.laobi.icu/badge?page_id=MuJSh.xyz_CHANGE&amp;left_text=visits&amp;left_color=5f6f83&amp;right_color=245a8d" alt="Visits">
    </div>
  </div>
</footer>